$primary-color: #1890ff;
$text-color: rgba(0, 0, 0, 0.85) !default;
$line-height: 1.5715;
$popover-bg: #ffffff !default;
$stage-bg: #ffffff !default;
$popover-padding: 16px !default;

$popover-z-index: 1000000000 !default;
$overlay-z-index: 100002 !default;
$stage-z-index: 100003 !default;
$highlighted-element-z-index: 100004 !default;

$btn-default-bg: #ffffff !default;
$btn-default-color: $text-color;
$btn-default-border: #d9d9d9;
$btn-disable-bg: #f5f5f5 !default;
$btn-disable-color: #00000040 !default;

// Note: If you update this duration, make sure to
// update `ANIMATION_DURATION_MS` constant
$animation-ms: 300 !default;
$animation-sec: ($animation-ms / 1000) * 1s !default;

div#driver-popover-item {
  display: none;
  position: absolute;
  background: $popover-bg;
  color: $text-color;
  margin: 0;
  padding: $popover-padding;
  border-radius: 5px;
  min-width: 250px;
  max-width: 350px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
  z-index: $popover-z-index;

  .driver-popover-tip {
    border: 5px solid $popover-bg;
    content: '';
    position: absolute;

    &.bottom {
      bottom: -10px;
      border-top-color: $popover-bg;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;

      &.position-center {
        left: 49%;
      }

      &.position-right {
        right: 20px;
      }
    }

    &.left {
      left: -10px;
      top: 10px;
      border-top-color: transparent;
      border-right-color: $popover-bg;
      border-bottom-color: transparent;
      border-left-color: transparent;

      &.position-center {
        top: 46%;
      }

      &.position-bottom {
        top: auto;
        bottom: 20px;
      }
    }

    &.right {
      right: -10px;
      top: 10px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: $popover-bg;

      &.position-center {
        top: 46%;
      }

      &.position-bottom {
        top: auto;
        bottom: 20px;
      }
    }

    &.top {
      top: -10px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: $popover-bg;
      border-left-color: transparent;

      &.position-center {
        left: 49%;
      }

      &.position-right {
        right: 20px;
      }
    }

    &.mid-center {
      display: none;
    }
  }

  .driver-popover-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 8px;

    .driver-popover-title {
      font-size: 16px;
      font-weight: bold;
      display: block;
      position: relative;
      zoom: 1;
    }

    .driver-popover-close-icon {
      position: relative;
      height: 16px;
      width: 16px;
      cursor: pointer;
      &::before, &::after{
        position: absolute;
        content: ' ';
        height: 16px;
        width: 2px;
        background-color: $text-color;
        left: 50%;
        transform: translateX(-50%);
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }

  }

  .driver-popover-description {
    margin-bottom: 0;
    font-size: 14px;
    color: $text-color;
    font-weight: normal;
    zoom: 1;
  }

  .driver-popover-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;


    .driver-step-dots {
      display: flex;
      align-items: center;
      .driver-step-dot {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #d5dae4;
        margin-left: 3px;
        margin-bottom: 0;
        &-active {
          background-color: #75829c;
        }
      }
    }

    .driver-btn-group {
      flex: 1;
      text-align: right;
      button {
        line-height: $line-height;
        position: relative;
        display: inline-block;
        white-space: nowrap;
        text-align: center;
        border: 1px solid transparent;
        box-shadow: 0 2px #00000004;
        cursor: pointer;
        transition: all .3s cubic-bezier(.645,.045,.355,1);
        user-select: none;
        touch-action: manipulation;
        padding: 2px 15px;
        font-size: 14px;
        border-radius: 14px;
        color: $text-color;
        background: $btn-default-bg;
        outline: 0;
        border-color: $btn-default-border;

        &:hover,
        &:focus,
        &:active {
          outline: 0;
          text-decoration: none;
          background: $btn-default-bg;
          color: $primary-color;
          border-color: $primary-color;
        }

        &[disabled] {
          &,
          &:hover,
          &:focus,
          &:active {
            color: $btn-disable-color;
            border-color: $btn-default-border;
            background: $btn-disable-bg;
            text-shadow: none;
            box-shadow: none;
            cursor: not-allowed;
          }
        }
        &.driver-prev-btn {
          margin-right: 8px;
        }
      }
    }
  }
}

.driver-stage-no-animation {
  transition: none !important;

  background: transparent !important;
  outline: 5000px solid rgba(0, 0, 0, 0.75);
}

div#driver-page-overlay {
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  zoom: 1;
  filter: alpha(opacity=75);
  opacity: 0.75;
  z-index: $overlay-z-index !important;

  transition: all $animation-sec;
}

div#driver-highlighted-element-stage {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 300px;
  background: $stage-bg;
  z-index: $stage-z-index !important;
  display: none;
  border-radius: 5px;

  transition: all $animation-sec;
}

.driver-highlighted-element {
  z-index: $highlighted-element-z-index !important;
}

.driver-position-relative {
  position: relative !important;
}

.driver-fix-stacking {
  z-index: auto !important;
  opacity: 1.0 !important;
  transform: none !important;
  filter: none !important;
  perspective: none !important;
  transform-style: flat !important;
  transform-box: border-box !important;
  will-change: unset !important;
}
